header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px; 
}

#logo {
    height: 50px; 
}

#login {
    display: flex;
    align-items: center; 
    gap: 5px; 
}
a {
    text-decoration: none; 
    color: blue; 
}